<!DOCTYPE html>
<meta charset="utf-8"> <!--한글이 깨지지않게 해주는 한글을 지원하는 문자 인코딩-->
<title>
    문서제목 방문기록에 들어가는게 이거
</title>
<h1><b>제목1</b></h1>
<h2>
    제목2
</h2>
<h3>제목3</h3>
<h6><i>머리말 제목은 1~6까지의 크기로 작성할 수 있다</i></h6>


<p>내용을 <b>p태그</b> <i>안에 작성</i></p> <!--p태그: paragraph-->
<p>Hello <strong>World</strong>!</p> <!--<strong>은 강조표시이며 텍스트를 읽는 프로그램한테는 중요한부분으로 인식되는 역할을 하게 할 수 있음 -->
<p>Hello <em>World</em>!</p>

<style> 
    h1 {
        font-size: 64px;
        text-align: center;
        color: crimson;
        margin-bottom: 500px;
    }
    h6 i {  
        font-size: 60px;
    }
    h2 {
        text-align: center;
    }
    h3 {
        text-align: center;
    }
    h6 {
        text-align: center;
    }
    p {
        text-align: center;
    }
</style>
<!--테그 안에는 주석작성을 못하나봄 ㅇㅇ h6 i {} -> h6안에 있는 기울기 테그 i만 60px로 키운다는 의미-->
<!--text-align: center 가운데정렬 편안~~~-->
<!--color까지 와우-->
<!--margin box로 위아래좌우 여백을 둘 수 잇다.-->


